html ::-webkit-scrollbar { /*Defini a largura da barra de rolagem*/
    width: 14px;
}



/* Início sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: var(--bg-container);
    border-radius: 8px;
    padding: 0;
    cursor: pointer;
}

.sidebar__navigation .logo {
    background: var(--bg-container);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 16px;
    padding: 0 20px 10px 20px;
}

.sidebar nav ul li{
    padding: 10px 0;
}

.sidebar nav ul li a{
    color: var(--text-side-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: var(--font-dm-sans);
}

.sidebar nav ul li a:hover{
    color: var(--text-base-light);
}

.sidebar nav ul li .fa{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
}

.library {
    background-color: var(--bg-container);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-block-size: 40px;
    padding: 4px 8px;
    color: var(--text-side-color);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content{
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: var(--text-side-color);
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    cursor: pointer;
}

.library .library__button .fa{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library__button:hover{
    color: var(--text-base-light);
}

.library .library__plus{ 
    display: flex; 
    padding: 12px 10px;
    margin: 16px 10px;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    align-items: center;
    color: var(--text-side-color);
}

.library .library__plus:hover{  
    border-radius: 50%;
    background-color: rgba(138, 138, 138, 0.128);
    cursor: pointer;
    color: var(--text-base-light);
}

/* Scroll no sidebar */
.section-scroll{
    overflow: auto;
    height: 100px;
    scrollbar-gutter: stable;
}

.section-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.section-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(208, 208, 208, 0.37);
}

/* Fim do Scroll */

.section-playlist {
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: var(--text-side-color);
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
}

.section-playlist .section-playlist__content{
    display: flex;
    flex-direction: column;
}

.section-playlist .section-playlist__content .text{
    padding-bottom: 14px;
    color: var(--text-base-light);
}

.section-playlist .section-playlist__content .title{
    font-weight: 700;
}

.section-playlist .section-playlist__content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 124px;
    cursor: pointer;
}

.section-podcast {
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: var(--text-side-color);
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
}

.section-podcast .section-podcast__content{
    display: flex;
    flex-direction: column;
}

.section-podcast .section-podcast__content .text{
    padding-bottom: 14px;
    color: var(--text-base-light);
}

.section-podcast .section-podcast__content .title{
    font-weight: 700;
}

.section-podcast .section-podcast__content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section-podcast__content .section-podcast__button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: var(--text-base-dark);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 156px;
    cursor: pointer;
}

.section-podcast__content .section-podcast__button:hover,
.section-playlist__content .section-playlist__button:hover{
    transform: scale(1.04);
}

.library .cookies{
    margin: 25px 20px;
}

.library .cookies a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.library .cookies a:hover{
    text-decoration: underline;
}

.library .languages .languages__button{
    background-color: transparent;
    border: 1px solid #878787;
    color: var(--text-base-light);
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

.library .languages .languages__button:hover{
    transform: scale(1.04);
    border: 2px solid #878787;
}

/* Fim sidebar */

/* Footer */

.disclaimer-premium{ 
    display: flex;
    position: fixed;
    justify-content: space-between;
    background: linear-gradient(to left,rgb(83, 164, 250), rgb(146, 1, 112) );
    bottom: 0;
    padding: 14px 10px;
    width: 100%;
}

.disclaimer-premium .text{
    display: flex;
    flex-direction: column;
    padding: 0 14px;
    color:#edebeb;
    font-family: var(--font-dm-sans);
}

.disclaimer-premium .text .text-title{
    font-weight: 200;
    font-size: 12px;
    padding: 0 0 0 10px;
}

.disclaimer-premium .text .text-subtitle{
    font-weight: 300;
    font-size: 12px;
    padding: 10PX 0 18px 10PX;
}

.disclaimer-premium .button{
    margin: 0 20px 0 0;
}

.disclaimer-premium .footer__button{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #fff;
    color: var(--text-base-dark);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px 10px;
    border: 0px;
    width: 156px;
    cursor: pointer;
}

.disclaimer-premium .footer__button:hover{
    transform: scale(1.04);
}